.experiance-container
  max-width: 55em
  margin: 0 auto

  p
    margin-bottom: 2em

  .spacer
    margin-bottom: rem(60)

  .desc-spacer
    margin-bottom: rem(30)

  .dot-list
    padding-left: 0.8em

.date-begin
  width: 2.6em
  display: inline-block

@media #{$mobile-media}
  .experiance-container
    font-size: 1.9rem
    .dot-list
      padding-left: 2rem

    .spacer
      margin-bottom: rem(30)