.project-container
  width: 100%
  height: 100%

.project-slide
  outline: none

.project-image
  height: 80vh
  min-height: 60rem
  max-width: 99.5%
  margin: 0 auto

.slick-track
  display: flex
  align-items: center

.project-description-container
  min-width: 20em
  padding: 1em
  display: flex!important
  justify-content: center

.project-description
  color: $accent-gray
  font-size: 1.8rem
  font-weight: 600

  p
    color: inherit

.magazine
  font-size: 1.3em
  text-transform: uppercase

.slick-dots
  display: flex
  justify-content: center
  margin-top: 1.5rem
  li
    +size(1.2rem)
    margin: 0 0.8rem
    button
      border: 1px solid $accent-gray
      border-radius: 50%
      +size(100%)
      &:before
        display: none

  .slick-active button
    background-color: $accent-gray

@media screen and (min-width: 1920px)
  .project-image
    min-height: 80rem

@media #{$mobile-media}
  .slick-dots
    bottom: auto
    top: -40px

  .project-slider
    margin-top: 45px
    margin-bottom: 0px!important

@media screen and (max-width: 459px)
  .project-description-container
    min-width: 10em

  .project-image
    min-height: 40rem
    height: auto
    width: 99.5%

  .slick-slide
    display: flex
    align-items: center
    