.project-container
  width: 100%
  height: 100%

.project-slider, .slick-list, .slick-track
  height: 100%

.project-slide
  outline: none

.project-image
  max-height: 100%
  max-width: 99.5%
  margin: 0 auto

.project-description
  min-width: 20em