* {
  font-family: 'Montserrat', sans-serif;
  color: #000; }

html, body {
  position: relative;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #000;
  font-size: 1.8rem;
  font-weight: 300; }

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none; }

p {
  padding: 0px;
  margin: 0px; }

.full-height-container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px; }
  @media screen and (min-width: 1680px) {
    html {
      font-size: 12px; } }
