* {
  font-family: 'Montserrat', sans-serif;
  color: $font-color
}

html, body {
  position: relative;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: $font-color;
  font-size: 1.8rem;
  font-weight: 300;
}

a, a:hover, a:active, a:visited, a:focus{
  text-decoration: none;
}

p {
  padding: 0px;
  margin: 0px;
}
